@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic|Roboto+Slab:400,300,100,700|Roboto+Condensed:400,700,300);
/*-- Reset --*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%;
  background-color: #f7f6f4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f6f4), to(#cacaca));
  background-image: -webkit-linear-gradient(top, #f7f6f4, #cacaca);
  background-image: -moz-linear-gradient(top, #f7f6f4, #cacaca);
  background-image: -o-linear-gradient(top, #f7f6f4, #cacaca);
  background-image: -ms-linear-gradient(top, #f7f6f4, #cacaca);
  background-image: linear-gradient(top, #f7f6f4, #cacaca);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f7f6f4', EndColorStr='#cacaca');
  background-repeat: no-repeat;
  padding-bottom: 110px; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Lato', sans-serif;
  color: #676767;
  font-weight: 300;
  font-size: 12pt;
  line-height: 1.2;
  height: 100%; }

a {
  text-decoration: none;
  color: #219d83; }

strong {
  font-weight: bold; }

.wrapper {
  width: 95%;
  max-width: 1220px;
  margin: 0 auto; }

header {
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: #2c3f4f;
  border-top: 1px solid #1a252e;
  border-bottom: 1px solid #1a252e; }
  header .wrapper {
    width: 99%; }

#logo {
  width: 470px;
  margin: 0px;
  display: block;
  float: left; }
  #logo h1 {
    font-size: 24pt; }
    #logo h1.title {
      font-family: 'Roboto Condensed', sans-serif;
      line-height: 1.3;
      overflow: hidden; }
      #logo h1.title > span:first-child {
        color: #fff;
        margin: 0 5px 0 5%;
        float: left;
        padding: 2px 10px;
        box-sizing: border-box;
        background-color: #219d83;
        letter-spacing: -1px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#219d83), to(#219d83));
        background-image: -webkit-linear-gradient(top, #219d83, #219d83);
        background-image: -moz-linear-gradient(top, #219d83, #219d83);
        background-image: -o-linear-gradient(top, #219d83, #219d83);
        background-image: -ms-linear-gradient(top, #219d83, #219d83);
        background-image: linear-gradient(top, #219d83, #219d83); }
      #logo h1.title p.tagline {
        font-size: 14pt;
        margin: 10px 0 0 0; }
        #logo h1.title p.tagline span {
          color: #fff; }

.fa-bars {
  display: none;
  position: absolute;
  right: 3.5%;
  top: 19px;
  font-size: 20pt;
  color: #219d83;
  z-index: 9999; }
  .fa-bars:hover {
    cursor: pointer; }

#nav {
  float: right;
  margin: 10px 0 0 0; }
  #nav li {
    float: left;
    margin: 0 1px; }
    #nav li a {
      color: #fff;
      line-height: 1.5;
      font-weight: lighter; }
    #nav li span {
      padding: 4px 8px 6px; }
      #nav li span:hover a {
        color: #fff; }
      #nav li span.active {
        background: #219d83; }
        #nav li span.active a {
          color: #fff; }
      #nav li span:hover {
        background: #219d83; }

#hero {
  overflow: hidden;
  max-height: 400px; }

#content {
  position: relative;
  z-index: 1;
  width: 90%;
  margin: 0 auto 100px;
  max-width: 960px;
  padding: 0; }

h2.banner {
  background: #219d83;
  color: #fff;
  box-sizing: border-box;
  padding: 7px 10px;
  margin: 0 auto 10px;
  width: 90%; }

.hero {
  overflow: hidden;
  background: #fff;
  padding: 30px 0 20px;
  border-bottom: 1px solid #2c3f4f;
  padding: 50px 0 40px; }
  .hero > img {
    width: 100%;
    margin: 30px auto -20px;
    max-width: 860px;
    display: block; }
  .hero .hero.show {
    display: block; }

#slide1.hero .message {
  top: 173px;
  left: 41%;
  width: 48.5%; }
  #slide1.hero .message p {
    color: #283a64;
    width: 100%;
    font-size: 22pt; }

#slide2.hero .message {
  top: 160px;
  left: 39%; }
  #slide2.hero .message p {
    width: 100%;
    font-size: 18pt; }

#slide3.hero {
  height: 415px;
  background-image: url("../../img/slide3.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: #7590d7; }
  #slide3.hero .message {
    right: 2%;
    width: 45%;
    top: 160px;
    left: initial; }
    #slide3.hero .message h2 {
      color: #fff;
      font-size: 24pt;
      font-family: 'Lato', sans-serif;
      font-weight: lighter; }
    #slide3.hero .message p {
      color: #1d3063;
      font-size: 16pt; }
  #slide3.hero h2#what-we-do {
    position: relative;
    min-height: 120px; }
    #slide3.hero h2#what-we-do div:first-child {
      width: 135px;
      position: absolute; }
      #slide3.hero h2#what-we-do div:first-child span:first-child {
        text-transform: uppercase;
        letter-spacing: 0px;
        font-size: 60pt;
        line-height: 1;
        margin-bottom: -10px;
        display: block;
        width: 100%; }
    #slide3.hero h2#what-we-do div:nth-child(2) {
      padding: 0px 0 0 150px;
      margin: -8px 0 0 0;
      overflow: hidden; }
      #slide3.hero h2#what-we-do div:nth-child(2) span:first-child {
        display: block;
        font-size: 45pt;
        word-spacing: -10px;
        letter-spacing: 0px; }
      #slide3.hero h2#what-we-do div:nth-child(2) span:last-child {
        font-size: 42pt;
        margin: -20px 0 0 3px;
        display: block;
        text-transform: uppercase; }

#slide4.hero .message {
  right: 1%;
  width: 45%;
  top: 145px;
  left: initial; }
  #slide4.hero .message h2 {
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    color: #c98226;
    padding: 0; }
  #slide4.hero .message p {
    width: 100%;
    font-size: 16pt;
    border: none; }

#slide1.hero .message h2 {
  color: #fff;
  background: #779229; }

#slide2.hero .message h2 {
  color: #efefef;
  background: #c98226; }

#slide3.hero p {
  color: #efefef;
  width: 100%; }

#nav li.call {
  padding: 0;
  border-radius: 1px; }
  #nav li.call span:hover {
    background-color: #219d83; }
  #nav li.call a {
    padding: 2px;
    color: #fff; }
    #nav li.call a:hover {
      color: #fff; }

h2 {
  font-size: 21pt;
  color: #111;
  margin: 20px 0 5px 0; }

h4 {
  font-weight: bold;
  margin: 20px 0 5px 0; }

#testimonials {
  margin: 40px auto;
  float: left; }

#testimonials .testimonial-block {
  margin: 0 0 40px;
  float: left;
  display: none;
  border-left: 4px solid #777;
  padding: 20px 5px 8px 20px;
  font-size: 14pt;
  line-height: 1.4; }

#testimonials .testimonial-block.active {
  display: block; }

#testimonials .testimonial-block em {
  margin: 10px 0 0 0;
  display: block;
  float: right;
  color: #52a6e6; }

#what_we_do {
  margin: 0 auto 50px; }

#what_we_do .content {
  margin: 10px auto 40px; }

#details {
  margin: 0 auto;
  width: 90%;
  display: block;
  overflow: hidden; }

#details li {
  float: left;
  margin: 0 10px 10px 0;
  width: 200px; }
  #details li p {
    text-align: center; }

#details li a {
  display: block;
  text-align: center;
  background: #333;
  height: 200px;
  width: 100%;
  border: 1px solid #777; }
  #details li a img {
    opacity: .7; }
  #details li a:hover img {
    opacity: 1; }

#services .service {
  display: none; }

#rest_tips {
  list-style: decimal;
  margin: 0 0 0 20px; }

#rest_tips li {
  margin: 0 auto 7px; }

ul.list {
  line-height: 1.4; }

ul .fa-info-circle {
  padding-right: 5px; }

#getInTouch {
  width: 65%;
  margin-right: 10px;
  float: left; }

.sidebar {
  width: 30%;
  float: right;
  background: rgba(149, 200, 240, 0.42);
  border-left: 1px solid rgba(104, 177, 234, 0.42);
  border-right: 1px solid rgba(104, 177, 234, 0.42);
  padding: 0 10px 15px;
  box-sizing: border-box;
  line-height: 1.3; }
  .sidebar h2 {
    margin-bottom: 2px; }
  .sidebar strong {
    display: block;
    margin-bottom: 3px; }

.gallery {
  margin: 25px 0; }
  .gallery #canvas {
    width: 100%;
    height: 600px;
    overflow-y: auto; }
  .gallery ul.galleryNav {
    overflow: hidden;
    margin: 25px 0 75px; }
    .gallery ul.galleryNav li {
      float: left;
      border: 7px solid #fff;
      margin: 0 7px 7px; }
      .gallery ul.galleryNav li.active {
        border-color: #333; }
      .gallery ul.galleryNav li a {
        display: block;
        width: 100%; }
        .gallery ul.galleryNav li a img {
          width: 100%;
          max-height: 70px;
          max-width: 100px; }

#footerToggle {
  position: fixed;
  bottom: 30px;
  left: 2%;
  font-size: 18pt;
  color: #fff;
  background: #219d83;
  padding: 10px 12px;
  border-radius: 30px;
  text-align: center;
  z-index: 12; }
  #footerToggle:hover {
    background: #024980; }

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: auto;
  background-color: #444;
  border-top: 7px solid #219d83;
  z-index: 10; }
  #footer li {
    min-height: 430px;
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    color: #efefef;
    border-right: 1px solid #333;
    margin: 25px 0 0; }
    #footer li:last-child {
      border-right: none; }
    #footer li:last-child, #footer li:nth-child(2) {
      border-left: 1px solid #555; }
    #footer li h4 {
      margin: 0px 0 5px 0; }

.backBtn {
  margin: 25px 0; }

.content h1 {
  color: #fff;
  background: #219d83;
  padding: 4px 7px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 15px 0 7px; }

.content .cta-link {
  display: inline-block;
  background: #2c3f4f;
  color: #fff;
  padding: 7px 10px;
  margin: 7px 0;
  float: right; }
  .content .cta-link:hover {
    background: #3e5970; }
  .content .cta-link .fa {
    padding-left: 5px; }

.content #address {
  background: #dae3e1;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 100px auto 0;
  overflow: hidden;
  border: 1px solid #219d83;
  display: none; }
  .content #address h4 {
    margin: 10px 0 0 0;
    color: #333; }
    .content #address h4:first-child {
      margin-top: 0; }
  .content #address p {
    color: #333; }
  .content #address .left, .content #address .right {
    width: 65%; }
  .content #address .left {
    float: left;
    width: 25%; }
  .content #address .right {
    float: right; }
    .content #address .right img {
      max-width: 450px;
      width: 100%;
      float: right; }

.list {
  list-style: disc;
  margin: 0;
  padding: 0; }

#fanda {
  float: left; }
  #fanda .list {
    float: left;
    width: 30%;
    margin-right: 5%; }
  #fanda .right {
    float: right;
    width: 60%; }
    #fanda .right img {
      max-width: 100%;
      width: 100%;
      margin: 50px 0px 0 0; }

.page3 #content .wrapper {
  margin: 0;
  padding: 0; }

#rates_content {
  width: 100%;
  float: left; }
  #rates_content .rates {
    overflow: hidden;
    margin: 0 0 15px;
    padding: 0;
    border-bottom: 5px solid #219d83; }
    #rates_content .rates > li {
      margin: 10px auto;
      width: 100%;
      float: left; }
      #rates_content .rates > li.selected {
        background-color: #dae3e1; }
      #rates_content .rates > li .options {
        overflow: hidden; }
        #rates_content .rates > li .options li.option {
          float: left;
          color: #333; }
          #rates_content .rates > li .options li.option.size {
            background: #777;
            width: 100px;
            color: #fff;
            text-align: center;
            padding: 25px 0;
            margin: 0 10px 0 0; }
          #rates_content .rates > li .options li.option.desc, #rates_content .rates > li .options li.option.rate, #rates_content .rates > li .options li.option.reserve {
            line-height: 4.2;
            font-weight: bold;
            width: 275px;
            text-align: center;
            margin: 0 10px 0 0; }
          #rates_content .rates > li .options li.option.reserve {
            width: 120px; }

p.em {
  display: none;
  text-align: center;
  font-style: italic;
  margin-bottom: 10px; }

#termsAndConditions {
  display: none;
  height: 200px;
  overflow: auto; }
  #termsAndConditions h3 {
    font-size: 24pt;
    font-weight: bold; }
  #termsAndConditions li {
    margin: 0 0 15px;
    list-style: decimal; }

#tandcAgree {
  float: right;
  display: none; }
  #tandcAgree input[type="submit"] {
    background: #219d83;
    color: #fff;
    padding: 10px 20px;
    border: none; }
    #tandcAgree input[type="submit"]:hover {
      cursor: pointer; }
    #tandcAgree input[type="submit"][disabled] {
      background: #8ca29d; }
      #tandcAgree input[type="submit"][disabled]:hover {
        cursor: not-allowed; }

#ctas {
  float: left;
  width: 100%;
  margin: 30px auto; }
  #ctas > li {
    list-style: none;
    float: left;
    margin: 0 12% 0 0;
    width: 25%; }
    #ctas > li > span {
      background-image: url("../../img/cta-circles.png");
      display: block;
      height: 160px;
      background-repeat: no-repeat;
      width: 160px; }
    #ctas > li#secure span {
      background-position: -180px 0; }
    #ctas > li#affordable span {
      background-position: -374px 0; }
    #ctas > li:last-child {
      margin-right: 0; }
  #ctas li ul li {
    margin: 0 0 0 20px;
    list-style: disc; }

#form input, #form textarea {
  display: block;
  width: 100%;
  margin: 0 0 4px;
  border: 0;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 10pt; }

#form input[type='submit'] {
  background: #219d83;
  color: #fff; }

#loading {
  width: 50%;
  margin: 25px auto 0; }
  #loading p {
    margin: 0 0 10px;
    text-align: center; }
  #loading img {
    display: block;
    margin: 0 auto; }

#reserveForm {
  display: none;
  width: 700px;
  margin: 0 auto; }
  #reserveForm .form-group {
    margin: 0 0 20px;
    border-bottom: 1px solid #555;
    padding: 20px;
    box-sizing: border-box; }
    #reserveForm .form-group:last-child {
      padding-top: 10px;
      border-bottom: none; }
  #reserveForm input {
    display: block;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 0 0 5px;
    padding: 4px 7px;
    box-sizing: border-box;
    width: 100%;
    font-size: 11pt; }
  #reserveForm input[type="submit"] {
    background: #219d83;
    color: #fff;
    font-size: 14pt; }
  #reserveForm input[type="checkbox"] {
    float: left;
    margin: 5px 10px 0 0;
    width: initial; }

/* Media Queries */
@media (max-width: 1450px) {
  .hero {
    max-height: 500px; } }

@media (max-width: 1200px) {
  .hero {
    max-height: 470px; } }

@media (max-width: 1080px) {
  .hero {
    max-height: 430px; } }

@media (max-width: 990px) {
  .hero {
    max-height: 350px; }
  #page.hero .message {
    top: 128px;
    left: initial;
    width: 48.5%;
    right: 2%; }
    #page.hero .message h2 {
      font-size: 22pt; }
    #page.hero .message p {
      font-size: 18pt; } }

@media (max-width: 960px) {
  #logo {
    display: block;
    margin: 15px auto;
    position: initial;
    width: 500px; }
  #nav {
    position: initial;
    display: block;
    margin: 0 auto 10px;
    width: 420px;
    overflow: hidden; } }

@media (max-width: 768px) {
  #page.hero .message {
    top: 100px; }
    #page.hero .message h2 {
      font-size: 17pt; }
    #page.hero .message p {
      font-size: 16pt; } }

/* -- Portrait Only -- */
@media (max-width: 1450px) {
  .hero img {
    max-width: 860px; }
  #page .hero .message {
    top: 120px; }
    #page .hero .message h2 {
      font-size: 19pt; }
    #page .hero .message p {
      font-size: 14pt; }
  #slide2.hero .message {
    top: 110px; }
    #slide2.hero .message h2 {
      font-size: 19pt; }
    #slide2.hero .message p {
      font-size: 14pt; }
  #slide3.hero .message {
    top: 110px; }
    #slide3.hero .message h2#what-we-do {
      padding: 10px;
      min-height: initial;
      background: rgba(156, 155, 178, 0.8);
      border: 1px solid #9c9bb2; }
      #slide3.hero .message h2#what-we-do div, #slide3.hero .message h2#what-we-do div:nth-child(2) {
        position: initial;
        margin: initial;
        padding: initial;
        width: initial; }
        #slide3.hero .message h2#what-we-do div span, #slide3.hero .message h2#what-we-do div:first-child span, #slide3.hero .message h2#what-we-do div:nth-child(2) span, #slide3.hero .message h2#what-we-do div:nth-child(2):first-child span {
          display: initial;
          font-size: inherit;
          word-spacing: normal; }
    #slide3.hero .message p {
      display: none; } }

/* Nav change 1 */
@media (max-width: 680px) {
  .hero {
    max-height: 275px;
    margin: 105px auto 45px auto; }
  #page .hero .message {
    top: 60px;
    right: 3.5%; }
    #page .hero .message h2 {
      font-size: 17pt; }
    #page .hero .message p {
      font-size: 16pt; } }

@media (max-width: 635px) {
  .hero {
    max-height: 250px; }
  #page #slide2.hero .message p {
    font-size: 12pt; } }

@media (max-width: 580px) {
  .hero {
    max-height: 220px; }
    .hero img {
      margin: initial;
      max-width: initial; }
  .gallery #canvas {
    height: initial; }
    .gallery #canvas img {
      max-width: 100%; }
  .content .cta-link {
    display: block;
    width: 95%;
    margin: 10px auto; }
  #fanda .list {
    width: 90%;
    margin: 0 auto;
    float: none; }
  #fanda .right {
    width: 100%;
    float: none;
    margin: 0 auto 15px; }
    #fanda .right img {
      margin: 0; }
  header {
    min-height: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 0 3px; }
  .fa-bars {
    display: inline-block; }
  #logo {
    margin: 0 auto 10px;
    width: 100%; }
    #logo h1 span:first-child {
      display: block;
      text-align: center;
      width: 80%;
      margin: 0 auto; }
    #logo h1 span:last-child {
      display: none; }
  header .wrapper a#logo h1.title span {
    float: none; }
  header .wrapper #logo h1.title p.tagline {
    text-align: center; }
    header .wrapper #logo h1.title p.tagline span {
      color: #2c3f4f;
      display: initial; }
  #nav {
    display: none; }
    #nav li {
      float: none; }
      #nav li span, #nav li a {
        display: block; }
      #nav li a {
        color: #2c3f4f; }
  #details li {
    width: 100%;
    float: none;
    margin: 25px auto; }
  #details a {
    display: block; }
    #details a img {
      max-width: 100%; }
  #getInTouch {
    float: none;
    margin-bottom: 50px;
    width: 98%; }
  .sidebar {
    float: none;
    width: 98%; }
  #footer ul {
    overflow: auto;
    padding-bottom: 65px; }
  #footer li {
    float: none;
    width: 99%;
    margin: 0 auto;
    min-height: initial;
    border-bottom: 1px solid #333;
    border-right: none;
    border-left: none; }
    #footer li:nth-child(2), #footer li:last-child {
      border-top: 1px solid #555; }
    #footer li:last-child {
      border-bottom: none; }
  #footerToggle {
    bottom: 65px; }
  #rates .rates > li .options li.option.size {
    width: 70px; }
  #rates .rates > li .options li.option.desc, #rates .rates > li .options li.option.rate, #rates .rates > li .options li.option.reserve {
    width: 30%;
    line-height: 1;
    padding-top: 15px; }
  #rates .rates > li .options li.option.rate, #rates .rates > li .options li.option.reserve {
    width: 15%; }
  #ctas {
    width: 100%;
    margin: 30px auto; }
    #ctas > li {
      float: none;
      margin: 0 auto 50px;
      width: 100%;
      text-align: center; }
      #ctas > li > span {
        margin: 0 auto; }
      #ctas > li ul li {
        list-style: none; } }

@media (max-width: 505px) {
  #nav {
    float: none;
    position: relative;
    width: 90%;
    margin: 0 auto; }
  #page .hero {
    max-height: 200px;
    margin: 58px auto 25px auto; }
    #page .hero .message {
      width: 55% !important; }
      #page .hero .message h2 {
        font-size: 12pt;
        font-weight: 100; }
      #page .hero .message p {
        font-size: 14pt; } }

@media (max-width: 375px) {
  header {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 0 3px; }
  .fa-bars {
    display: inline-block; }
  #nav {
    display: none; }
    #nav li {
      float: none; }
      #nav li span, #nav li a {
        display: block; }
  #page .hero {
    max-height: 130px;
    margin-top: 55px; }
    #page .hero .message {
      top: 22px;
      right: 5%;
      left: initial; }
      #page .hero .message h2 {
        font-size: 10pt; }
      #page .hero .message p {
        font-size: 11pt;
        line-height: 1; }
  #page #slide2.hero .message {
    top: 45px; }
    #page #slide2.hero .message h2 {
      font-size: 13pt;
      border: 1px solid #b30000;
      box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.42); }
    #page #slide2.hero .message p {
      display: none; }
  #page #slide3.hero h2#what-we-do div:first-child {
    width: 100%; }
    #page #slide3.hero h2#what-we-do div:first-child span:first-child {
      font-size: 20pt;
      display: initial;
      text-transform: initial;
      margin: initial; }
    #page #slide3.hero h2#what-we-do div:first-child span:last-child {
      font-size: 20pt; }
  #page #slide3.hero h2#what-we-do div:nth-child(2) {
    width: 100%;
    padding: 25px 0 0 0px;
    margin: 0;
    overflow: hidden; }
    #page #slide3.hero h2#what-we-do div:nth-child(2) span:first-child {
      font-size: 20pt;
      display: initial;
      text-transform: initial;
      word-spacing: initial;
      margin: initial;
      line-height: 1.4; }
    #page #slide3.hero h2#what-we-do div:nth-child(2) span:last-child {
      font-size: 20pt;
      margin: -6px 0 0 0; }
  #page #slide4.hero .message {
    width: 47% !important;
    right: 2%; }
    #page #slide4.hero .message h2 {
      font-size: 14pt;
      line-height: 1.2; }
    #page #slide4.hero .message p {
      display: none; }
  #details li {
    width: 100%;
    float: none;
    margin: 25px auto; }
  #details a {
    display: block; }
    #details a img {
      max-width: 100%; }
  #getInTouch {
    float: none;
    margin-bottom: 50px;
    width: 98%; }
  .sidebar {
    float: none;
    width: 98%; }
  #footer ul {
    overflow: auto;
    padding-bottom: 65px; }
  #footer li {
    float: none;
    width: 99%;
    margin: 0 auto;
    min-height: initial;
    border-bottom: 1px solid #333;
    border-right: none;
    border-left: none; }
    #footer li:nth-child(2), #footer li:last-child {
      border-top: 1px solid #555; }
    #footer li:last-child {
      border-bottom: none; }
  #footerToggle {
    bottom: 65px; } }
