@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic|Roboto+Slab:400,300,100,700);
/*-- Reset --*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Lato', sans-serif;
  color: #676767;
  font-weight: 300;
  font-size: 12pt;
  line-height: 1.2;
  background-color: #f7f6f4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f6f4), to(#cacaca));
  background-image: -webkit-linear-gradient(top, #f7f6f4, #cacaca);
  background-image: -moz-linear-gradient(top, #f7f6f4, #cacaca);
  background-image: -o-linear-gradient(top, #f7f6f4, #cacaca);
  background-image: -ms-linear-gradient(top, #f7f6f4, #cacaca);
  background-image: linear-gradient(top, #f7f6f4, #cacaca);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f7f6f4', EndColorStr='#cacaca');
  background-repeat: no-repeat; }

a {
  text-decoration: none;
  color: #D60A0A; }

strong {
  font-weight: bold; }

.wrapper {
  width: 90%;
  max-width: 1220px;
  margin: 0 auto; }

header {
  overflow: hidden;
  padding: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  background: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #D60A0A;
  top: 0;
  min-height: 95px; }
  header .wrapper {
    width: 99%; }

#logo {
  position: absolute;
  left: 5%;
  top: 5px; }
  #logo h1 {
    font-size: 24pt; }
    #logo h1.title {
      float: left;
      width: 90px;
      font-family: 'Nothing You Could Do', cursive;
      line-height: 1.3;
      color: #D60A0A;
      margin-left: 5%; }
      #logo h1.title img {
        max-width: 100%; }

.fa-bars {
  display: none;
  position: absolute;
  right: 3.5%;
  top: 15px;
  font-size: 16pt;
  color: #D60A0A; }
  .fa-bars:hover {
    cursor: pointer; }

#nav {
  position: absolute;
  right: 1%;
  top: 33px; }
  #nav li {
    float: left;
    margin: 0 1px; }
    #nav li a {
      color: #0764A9;
      line-height: 1.5;
      font-weight: lighter; }
    #nav li span {
      padding: 4px 8px 6px; }
      #nav li span:hover a {
        color: #fff; }
      #nav li span.active {
        background: #D60A0A; }
        #nav li span.active a {
          color: #fff; }
      #nav li span:hover {
        background: #D60A0A; }

#content {
  position: relative;
  z-index: 1;
  min-height: 1200px;
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  padding: 0; }

.hero {
  display: none;
  max-height: 615px;
  overflow: hidden;
  margin: 73px auto 45px auto;
  position: relative;
  border-top: 1px solid #D60A0A;
  border-bottom: 1px solid #D60A0A; }
  .hero img {
    width: 100%; }
  .hero .message {
    position: absolute;
    top: 75px;
    left: 35%;
    width: 50%; }
    .hero .message h2 {
      font-size: 24pt;
      margin: 0 auto 5px;
      font-family: 'Roboto Slab', cursive;
      letter-spacing: 1.5px;
      font-weight: bold;
      padding: 5px 10px;
      box-sizing: border-box; }
    .hero .message p {
      color: #353535;
      width: 82%;
      font-size: 14pt; }

.hero.show {
  display: block; }

#slide1.hero .message {
  top: 173px;
  left: 41%;
  width: 48.5%; }
  #slide1.hero .message p {
    color: #283a64;
    width: 100%;
    font-size: 22pt; }

#slide2.hero .message {
  top: 160px;
  left: 39%; }
  #slide2.hero .message p {
    width: 100%;
    font-size: 18pt; }

#slide3.hero {
  height: 415px;
  background-image: url("../../img/slide3.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: #7590d7; }
  #slide3.hero .message {
    right: 2%;
    width: 45%;
    top: 160px;
    left: initial; }
    #slide3.hero .message h2 {
      color: #fff;
      font-size: 24pt;
      font-family: 'Lato', sans-serif;
      font-weight: lighter; }
    #slide3.hero .message p {
      color: #1d3063;
      font-size: 16pt; }
  #slide3.hero h2#what-we-do {
    position: relative;
    min-height: 120px; }
    #slide3.hero h2#what-we-do div:first-child {
      width: 135px;
      position: absolute; }
      #slide3.hero h2#what-we-do div:first-child span:first-child {
        text-transform: uppercase;
        letter-spacing: 0px;
        font-size: 60pt;
        line-height: 1;
        margin-bottom: -10px;
        display: block;
        width: 100%; }
    #slide3.hero h2#what-we-do div:nth-child(2) {
      padding: 0px 0 0 150px;
      margin: -8px 0 0 0;
      overflow: hidden; }
      #slide3.hero h2#what-we-do div:nth-child(2) span:first-child {
        display: block;
        font-size: 45pt;
        word-spacing: -10px;
        letter-spacing: 0px; }
      #slide3.hero h2#what-we-do div:nth-child(2) span:last-child {
        font-size: 42pt;
        margin: -20px 0 0 3px;
        display: block;
        text-transform: uppercase; }

#slide4.hero {
  height: 415px; }
  #slide4.hero .message {
    right: 1%;
    width: 45%;
    top: 145px;
    left: initial; }
    #slide4.hero .message h2 {
      font-weight: lighter;
      font-family: 'Lato', sans-serif;
      color: #c98226;
      padding: 0; }
    #slide4.hero .message p {
      width: 100%;
      font-size: 16pt;
      border: none; }

#slide1.hero .message h2 {
  color: #fff;
  background: #779229; }

#slide2.hero .message h2 {
  color: #efefef;
  background: #c98226; }

#slide3.hero p {
  color: #efefef;
  width: 100%; }

#nav li.call {
  padding: 0;
  border-radius: 1px; }
  #nav li.call span:hover {
    background-color: #0764A9; }
  #nav li.call a {
    padding: 2px;
    color: #0764A9; }
    #nav li.call a:hover {
      color: #fff;
      background-color: #0764A9; }

h2 {
  font-size: 21pt;
  color: #111;
  margin: 20px 0 5px 0; }

h4 {
  font-weight: bold;
  margin: 20px 0 5px 0; }

#testimonials {
  margin: 40px auto;
  float: left; }

#testimonials .testimonial-block {
  margin: 0 0 40px;
  float: left;
  display: none;
  border-left: 4px solid #777;
  padding: 20px 5px 8px 20px;
  font-size: 14pt;
  line-height: 1.4; }

#testimonials .testimonial-block.active {
  display: block; }

#testimonials .testimonial-block em {
  margin: 10px 0 0 0;
  display: block;
  float: right;
  color: #52a6e6; }

#what_we_do {
  margin: 0 auto 50px; }

#what_we_do .content {
  margin: 10px auto 40px; }

#details {
  margin: 0 auto;
  width: 90%;
  display: block;
  overflow: hidden; }

#details li {
  float: left;
  margin: 0 10px 10px 0;
  width: 200px; }
  #details li p {
    text-align: center; }

#details li a {
  display: block;
  text-align: center;
  background: #333;
  height: 200px;
  width: 100%;
  border: 1px solid #777; }
  #details li a img {
    opacity: .7; }
  #details li a:hover img {
    opacity: 1; }

#services .service {
  display: none; }

#rest_tips {
  list-style: decimal;
  margin: 0 0 0 20px; }

#rest_tips li {
  margin: 0 auto 7px; }

ul.list {
  line-height: 1.4; }

ul .fa-info-circle {
  padding-right: 5px; }

#getInTouch {
  width: 65%;
  margin-right: 10px;
  float: left; }

.sidebar {
  width: 30%;
  float: right;
  background: rgba(149, 200, 240, 0.42);
  border-left: 1px solid rgba(104, 177, 234, 0.42);
  border-right: 1px solid rgba(104, 177, 234, 0.42);
  padding: 0 10px 15px;
  box-sizing: border-box;
  line-height: 1.3; }
  .sidebar h2 {
    margin-bottom: 2px; }
  .sidebar strong {
    display: block;
    margin-bottom: 3px; }

.gallery {
  margin: 25px 0; }
  .gallery #canvas {
    width: 100%;
    height: 600px;
    overflow-y: auto; }
  .gallery ul.galleryNav {
    overflow: hidden;
    margin: 25px 0 75px; }
    .gallery ul.galleryNav li {
      float: left;
      border: 7px solid #fff;
      margin: 0 7px 7px; }
      .gallery ul.galleryNav li.active {
        border-color: #333; }
      .gallery ul.galleryNav li a {
        display: block;
        width: 100%; }
        .gallery ul.galleryNav li a img {
          width: 100%;
          max-height: 70px;
          max-width: 100px; }

#footerToggle {
  position: fixed;
  bottom: 30px;
  left: 2%;
  font-size: 18pt;
  color: #fff;
  background: #D60A0A;
  padding: 10px 12px;
  border-radius: 30px;
  text-align: center;
  z-index: 12; }
  #footerToggle:hover {
    background: #024980; }

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #444;
  border-top: 7px solid #D60A0A;
  z-index: 10; }
  #footer li {
    min-height: 430px;
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    color: #efefef;
    border-right: 1px solid #333;
    margin: 25px 0 0; }
    #footer li:last-child {
      border-right: none; }
    #footer li:last-child, #footer li:nth-child(2) {
      border-left: 1px solid #555; }
    #footer li h4 {
      margin: 0px 0 5px 0; }

.backBtn {
  margin: 25px 0; }

/* Media Queries */
@media (max-width: 1450px) {
  .hero {
    max-height: 500px; } }

@media (max-width: 1200px) {
  .hero {
    max-height: 470px; } }

@media (max-width: 1080px) {
  .hero {
    max-height: 430px; } }

@media (max-width: 990px) {
  .hero {
    max-height: 350px; }
  #page.hero .message {
    top: 128px;
    left: initial;
    width: 48.5%;
    right: 2%; }
    #page.hero .message h2 {
      font-size: 22pt; }
    #page.hero .message p {
      font-size: 18pt; } }

@media (max-width: 768px) {
  .hero {
    max-height: 275px; }
  #page.hero .message {
    top: 100px; }
    #page.hero .message h2 {
      font-size: 17pt; }
    #page.hero .message p {
      font-size: 16pt; } }

/* -- Portrait Only -- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #page .hero .message {
    top: 120px; }
    #page .hero .message h2 {
      font-size: 19pt; }
    #page .hero .message p {
      font-size: 14pt; }
  #slide2.hero .message {
    top: 110px; }
    #slide2.hero .message h2 {
      font-size: 19pt; }
    #slide2.hero .message p {
      font-size: 14pt; }
  #slide3.hero .message {
    top: 110px; }
    #slide3.hero .message h2#what-we-do {
      padding: 10px;
      min-height: initial;
      background: rgba(156, 155, 178, 0.8);
      border: 1px solid #9c9bb2; }
      #slide3.hero .message h2#what-we-do div, #slide3.hero .message h2#what-we-do div:nth-child(2) {
        position: initial;
        margin: initial;
        padding: initial;
        width: initial; }
        #slide3.hero .message h2#what-we-do div span, #slide3.hero .message h2#what-we-do div:first-child span, #slide3.hero .message h2#what-we-do div:nth-child(2) span, #slide3.hero .message h2#what-we-do div:nth-child(2):first-child span {
          display: initial;
          font-size: inherit;
          word-spacing: normal; }
    #slide3.hero .message p {
      display: none; } }

/* Nav change 1 */
@media (max-width: 680px) {
  .hero {
    max-height: 275px;
    margin: 105px auto 45px auto; }
  #page .hero .message {
    top: 60px;
    right: 3.5%; }
    #page .hero .message h2 {
      font-size: 17pt; }
    #page .hero .message p {
      font-size: 16pt; } }

@media (max-width: 635px) {
  .hero {
    max-height: 250px; }
  #page #slide2.hero .message p {
    font-size: 12pt; } }

@media (max-width: 580px) {
  .hero {
    max-height: 220px; }
  .gallery #canvas {
    height: initial; }
    .gallery #canvas img {
      max-width: 100%; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  header {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 0 3px; }
  .fa-bars {
    display: inline-block; }
  #nav {
    display: none; }
    #nav li {
      float: none; }
      #nav li span, #nav li a {
        display: block; }
  #details li {
    width: 100%;
    float: none;
    margin: 25px auto; }
  #details a {
    display: block; }
    #details a img {
      max-width: 100%; }
  #getInTouch {
    float: none;
    margin-bottom: 50px;
    width: 98%; }
  .sidebar {
    float: none;
    width: 98%; }
  #footer ul {
    overflow: auto;
    padding-bottom: 65px; }
  #footer li {
    float: none;
    width: 99%;
    margin: 0 auto;
    min-height: initial;
    border-bottom: 1px solid #333;
    border-right: none;
    border-left: none; }
    #footer li:nth-child(2), #footer li:last-child {
      border-top: 1px solid #555; }
    #footer li:last-child {
      border-bottom: none; }
  #footerToggle {
    bottom: 65px; } }

@media (max-width: 505px) {
  #nav {
    float: none;
    position: relative;
    width: 90%;
    margin: 0 auto; }
  #page .hero {
    max-height: 200px;
    margin: 58px auto 25px auto; }
    #page .hero .message {
      width: 55% !important; }
      #page .hero .message h2 {
        font-size: 12pt;
        font-weight: 100; }
      #page .hero .message p {
        font-size: 14pt; } }

@media (max-width: 375px) {
  header {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 0 3px; }
  .fa-bars {
    display: inline-block; }
  #nav {
    display: none; }
    #nav li {
      float: none; }
      #nav li span, #nav li a {
        display: block; }
  #page .hero {
    max-height: 130px;
    margin-top: 55px; }
    #page .hero .message {
      top: 22px;
      right: 5%;
      left: initial; }
      #page .hero .message h2 {
        font-size: 10pt; }
      #page .hero .message p {
        font-size: 11pt;
        line-height: 1; }
  #page #slide2.hero .message {
    top: 45px; }
    #page #slide2.hero .message h2 {
      font-size: 13pt;
      border: 1px solid #b30000;
      box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.42); }
    #page #slide2.hero .message p {
      display: none; }
  #page #slide3.hero h2#what-we-do div:first-child {
    width: 100%; }
    #page #slide3.hero h2#what-we-do div:first-child span:first-child {
      font-size: 20pt;
      display: initial;
      text-transform: initial;
      margin: initial; }
    #page #slide3.hero h2#what-we-do div:first-child span:last-child {
      font-size: 20pt; }
  #page #slide3.hero h2#what-we-do div:nth-child(2) {
    width: 100%;
    padding: 25px 0 0 0px;
    margin: 0;
    overflow: hidden; }
    #page #slide3.hero h2#what-we-do div:nth-child(2) span:first-child {
      font-size: 20pt;
      display: initial;
      text-transform: initial;
      word-spacing: initial;
      margin: initial;
      line-height: 1.4; }
    #page #slide3.hero h2#what-we-do div:nth-child(2) span:last-child {
      font-size: 20pt;
      margin: -6px 0 0 0; }
  #page #slide4.hero .message {
    width: 47% !important;
    right: 2%; }
    #page #slide4.hero .message h2 {
      font-size: 14pt;
      line-height: 1.2; }
    #page #slide4.hero .message p {
      display: none; }
  #details li {
    width: 100%;
    float: none;
    margin: 25px auto; }
  #details a {
    display: block; }
    #details a img {
      max-width: 100%; }
  #getInTouch {
    float: none;
    margin-bottom: 50px;
    width: 98%; }
  .sidebar {
    float: none;
    width: 98%; }
  #footer ul {
    overflow: auto;
    padding-bottom: 65px; }
  #footer li {
    float: none;
    width: 99%;
    margin: 0 auto;
    min-height: initial;
    border-bottom: 1px solid #333;
    border-right: none;
    border-left: none; }
    #footer li:nth-child(2), #footer li:last-child {
      border-top: 1px solid #555; }
    #footer li:last-child {
      border-bottom: none; }
  #footerToggle {
    bottom: 65px; } }
