/* -- Portrait Only -- */
@media (max-width: 1450px){
  .hero {
    img { max-width: 560px; }
  }
  #page .hero .message {
    top: 120px;

    h2 { font-size: 19pt; }
    p { font-size: 14pt; }
  }
  #slide2.hero .message {
    top: 110px;

    h2 { font-size: 19pt; }
    p { font-size: 14pt; }
  }
  #slide3.hero .message {
    top: 110px;

    h2#what-we-do {
      padding: 10px;
      min-height: initial;
      background: rgba(156, 155, 178, 0.8);
      border: 1px solid rgb(156, 155, 178);

      div, div:nth-child(2) {
        position: initial;
        margin: initial;
        padding: initial;
        width: initial;

        & span, &:first-child  span {
          display: initial;
          font-size: inherit;
          word-spacing: normal;
        }
      }
    }
    p { display: none; }
  }
}

